<%= simple_form_for(@comment) do |f| %>
  <div class="form-inputs">
    <%= f.input :content, required: true %>
    <%= f.hidden_field :item_id, required: true, value: @item.id %>
    <%= f.hidden_field :score, required: true %>
    <div class="score"></div>
  </div>
  <%= f.fields_for :tastes do |builder| %>
  <fieldset>
  <%= builder.label :content, "Taste " %><br/>
  <%= builder.text_area :content %>
  </fieldset>
  <div class="score"></div>
  <% end %>
  <hr>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(".score").raty({
    starOn: "<%= image_path('star-on.png')%>",
    starOff: "<%= image_path('star-off.png') %>",
    target: "#comment_score",
    targetKeep: true,
    targetType: "number"
  });
</script>