<%= simple_form_for(@comment) do |f| %>
  <div class="form-inputs">
    <h4>Rate first</h4>
    <div class="score"></div><br/>
    <h4>And now tell us what can we improve upon</h4>
    <%= f.input :flavor %>
    <%= f.input :texture %>
    <%= f.input :aroma %>
    <%= f.input :portion %>
    <%= f.input :visual %><br/>
    <%= f.input :content, label: false, placeholder: "comment here (optional)", required: false %>
    <%= f.hidden_field :item_id, required: true, value: @item.id %>
    <%= f.hidden_field :score, required: true %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(".score").raty({
    starOn: "<%= image_path('star-on.png')%>",
    starOff: "<%= image_path('star-off.png') %>",
    target: "#comment_score",
    targetKeep: true,
    targetType: "number"
  });
</script>