<h1>Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Gluten</th>
      <th>Address</th>
      <th>Average</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.description %></td>
        <td><%= item.gluten %></td>
        <td><%= item.address %></td>
        <td><div class="average_<%= item.id %>"></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user %>
<strong><%= link_to 'Add Item', new_item_path %></strong>
<% end %>
<hr>
<div class="col-md-4">
  <%= pie_chart Item.group(:name).count %>
  <p>Know how many items you have.<p>
</div>
<div class="col-md-4">
  <%= pie_chart Comment.group(:score).count  %>
  <p>See how far you are in getting to your goal<p>
</div>
<div class="col-md-4">
  <%= bar_chart Comment.group(:score, :item_id).count, Item.group(:name).count  %>
  <p>Monitor the received comments<p>
</div>


<script type="text/javascript">
<% @items.each do |item| %>
  $(".average_<%= item.id %>").raty({
  starOn: "<%= image_path('star-on.png')%>",
  starOff: "<%= image_path('star-off.png') %>",
  score: <%= item.total_average_rating %>,
  readOnly: true
  });
<% end %>
</script>