<div class="row">
  <div class="col-md-3">
    <h4><%= @item.name %></h3>
    <div class="average"></div>
    <h5>Gluten: <%= @item.gluten %></h4>
  </div>
  <div class="col-md-4">
    <h4>Review</h4>
    <%= render "comments/form" %>
  </div>
  <div class="col-md-5">
    <h4>Comments</h4>
    <%= render @comments %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-7">
    <h4>Glance at the data</h4>
    <%= column_chart @comments.group(:score, :item_id).count %>
  </div>
  <div class="col-md-5">
    <div id="map-canvas" style="width: 400px; height: 300px;"></div>
  </div>
</div>
<div class="row">

</div>

<script type="text/javascript">
  function initialize() {
    var myCenter = { lat: <%= @item.latitude %>, lng: <%= @item.longitude %> }
    var mapOptions = {
      center: myCenter,
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    var marker = new google.maps.Marker ({
      position: myCenter,
      map: map
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  <% @comments.each do |comment| %>
    $(".score_<%= comment.id %>").raty({
    starOn: "<%= image_path('star-on.png')%>",
    starOff: "<%= image_path('star-off.png') %>",
    score: <%= comment.score %>,
    readOnly: true
  });
  <% end %>


$(".average").raty({
    starOn: "<%= image_path('star-on.png')%>",
    starOff: "<%= image_path('star-off.png') %>",
    score: <%= @item.total_average_rating %>,
    readOnly: true
  });
</script>